<form action="/restaurants" method="POST">
  <div class="wrapper" style="display:inline-block;">
    <div>
      <input type="text" placeholder="name" name="name" id="name">
    </div>
    <div>
      <input type="text" placeholder="name_en" name="name_en" id="name_en">
    </div>
    <div>
      <input type="text" placeholder="category" name="category" id="category">
    </div>
    <div>
      <input type="text" placeholder="image" name="image" id="image">
    </div>
    <div>
      <input type="text" placeholder="location" name="location" id="location">
    </div>
    <div>
      <input type="text" placeholder="phone" name="phone" id="phone">
    </div>
    <div>
      <input type="text" placeholder="google_map" name="google_map" id="google_map">
    </div>
    <div>
      <input type="Number" placeholder="rating" name="rating" id="rating">
    </div>
    <div>
      <input type="text" placeholder="description" name="description" id="description">
    </div>
    <button type="submit">新增餐廳</button>
  </div>
</form>